{% load static %}
<!-- Footer -->
<div class="container">
    <!-- Additional Links-->
    <ul class="foote_bottom_ul_amrc">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>

    <p class="text-center text-white">Copyright @2021</p>
    <!--social_footer_ul -->
    <ul class="social_footer_ul">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    
</div>