<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a class="font-weight-bold nav-link text-black" href="#" id="clothing-link">
                    Cricket
                </a>
                <a href="{% url 'products' %}?category=cricket_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=cricket_equipment" class="dropdown-item">Equipment</a>
                <a class="font-weight-bold nav-link text-black mt-2" href="#" id="clothing-link">
                    Football
                </a>
                <a href="{% url 'products' %}?category=football_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=football_equipment" class="dropdown-item">Equipment</a>
                <br>
                <a href="{% url 'products' %}?category=cricket_clothing,cricket_equipment,football_clothing,football_equipment" class="dropdown-item font-weight-bold">All Mens Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ladies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a class="font-weight-bold nav-link text-black" href="#" id="clothing-link">
                    Cricket
                </a>
                <a href="{% url 'products' %}?category=ladies_cricket_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=ladies_cricket_equipment" class="dropdown-item">Equipment</a>
                <a class="font-weight-bold nav-link text-black mt-2" href="#" id="clothing-link">
                    Football
                </a>
                <a href="{% url 'products' %}?category=ladies_football_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=football_equipment" class="dropdown-item">Equipment</a>
                <br>
                <a href="{% url 'products' %}?category=ladies_cricket_equipment,ladies_cricket_clothing,ladies_football_clothing,football_equipment" class="dropdown-item font-weight-bold">All Ladies Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a class="font-weight-bold nav-link text-black" href="#" id="clothing-link">
                    Cricket
                </a>
                <a href="{% url 'products' %}?category=cricket_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=cricket_equipment" class="dropdown-item">Equipment</a>
                <a class="font-weight-bold nav-link text-black mt-2" href="#" id="clothing-link">
                    Football
                </a>
                <a href="{% url 'products' %}?category=cricket_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=cricket_equipment" class="dropdown-item">Equipment</a>
                <br>
                <a href="{% url 'products' %}?category=cricket_clothing,cricket_equipment" class="dropdown-item font-weight-bold">All Kids Products</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=tennis_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=tennis_equipment" class="dropdown-item">Equipment</a>
                <a href="{% url 'products' %}?category=tennis_clothing,tennis_equipment" class="dropdown-item">All Other Products</a>
            </div>
        </li>
    </ul>
</div>